/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Header Styling */
.header {
  background-color: #011e29;
  color: white;
  padding: 20px 0;
  text-align: center;
}

/* Flexbox Layout */
.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
}

/* Latest News Styling */
.latest-news-section {
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: left;
}

.latest-news-section h3 {
  text-align: center;
  margin-bottom: 10px;
}

.latest-news-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Main Article Styling */
.main-article {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.main-article p {
  text-align: justify;
}

/* Pictorial News Styling */
.pictorial-news-section {
  width: 250px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

.pictorial-news-section img {
  width: 100%;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}
